<% name = current_user.name 
   course = Course.find(current_user.courses_id)
%>

<div class="center" id="page_wrapper">
    <section class="center home_title">
        <h1>Bem vindo, <%= name %></h1>
    </section>
    
    
    <section class="user_profile">
        <h3 class="subtitle">Perfil</h3>
        <div class="section_content">
            <div class="label_wrapper">
                <div class="profile_label">Nome:</div>
                <div class="profile_label">Email:</div>
                <div class="profile_label">Numero USP:</div>
            </div>
            <div class="data_wrapper">
                <div class="profile_data"><%= current_user.name %></div>
                <div class="profile_data"><%= current_user.email %></div>
                <div class="profile_data"><%= current_user.nusp %></div>
            </div>
        </div>
    </section>
    
    <section class="user_course">
        <h3 class="subtitle">Dados do Curso</h3>
        <div class="section_content">
            <div class="label_wrapper">
                <div class="profile_label">Curso:</div>
                <div class="profile_label">Ano de Ingresso:</div>
            </div>
            <div class="data_wrapper">
                <div class="profile_data"><%= course.nome %></div>
                <div class="profile_data"><%= current_user.startYear %></div>
            </div>
            
            <div class="classes_wrapper">
                <h4>Matérias</h4>
                
                <div class="subjects_wrapper">
                <% for i in 1..course.duracao_ideal %>
                    <div class="semester">
                        <div class="semester_title"><%= i %> Semestre</div>
                    <% Curriculum.where('course_id = ? and semestre = ?', current_user.courses_id,  i).order(:tipo).each do |curr|  %>
                        <% subject = Subject.find(curr.subject_id) %>
                        <% if curr.tipo == "obrigatoria" %>
                            <div class="subject mandatory"><%= subject.codigo  %></div>
                        <% else %>
                            <div class="subject optional"><%= subject.codigo  %></div>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>
                </div>
                
                
            </div>
        </div>
    </section>
    
</div>

