<p>
  Já jubilou é um aplicativo que te ajuda a se organizar para passar na faculdade, preferencialmente sem jubilar! :) <br/>
  Informando as informações do sistema Jupíter USP, usado pelos alunos da universidade de São Paulo para fazer matrículas, podemos calcular que matérias faltam para você se formar e te damos uma visão de como se planejar para terminar a faculdade no prazo! 
</p>

<p>
	Esse aplicativo foi criado como parte da Disciplina de Engenharia de Sistemas de Informação da EACH - USP Leste. 
</p>

<h3>Os desenvolvedores</h3>

<ul class="founder-box">
	<li>
		<%= image_tag "founders/adriano.jpg", :class => "circle-image"%>
		<h5>Adriano Satti</h5>
	</li>
	<li>
		<%= image_tag "founders/ana.jpg", :class => "circle-image" %>
		<h5>Ana Trinno</h5>
	</li>
		<li>
		<%= image_tag "founders/bruno.jpg", :class => "circle-image" %>
		<h5>Bruno Impossionato</h5>
	</li>
		<li>
		<%= image_tag "founders/caio.jpg", :class => "circle-image" %>
		<h5>Caio Teixeira</h5>
	</li>
		<li>
		<%= image_tag "founders/rodrigo.jpg", :class => "circle-image" %>
		<h5>Rodrigo Guerra</h5>
	</li>
		<li>
		<%= image_tag "founders/sergio.jpg", :class => "circle-image" %>
		<h5>Sergio Tutumi</h5>
	</li>
</ul>


<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>-->