<p>
	Já jubilou é um aplicativo que te ajuda a se organizar para passar na faculdade, preferencialmente sem jubilar! :) <br/>
	Informando as informações do sistema Jupíter USP, usado pelos alunos da universidade de São Paulo para fazer matrículas, podemos calcular que matérias faltam para você se formar e te damos uma visão de como se planejar para terminar a faculdade no prazo! 
</p>

<p>
	Esse aplicativo foi criado como parte da Disciplina de Engenharia de Sistemas de Informação da EACH - USP Leste. 
</p>

<h3>Os desenvolvedores</h3>

<div class="row developer-box">
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/adriano.jpg", :class => "img-circle"%>
			<h5>Adriano Satti</h5>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/ana.jpg", :class => "img-circle" %>
			<h5>Ana Trino</h5>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/bruno.jpg", :class => "img-circle" %>
			<h5>Bruno Impossionato</h5>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/caio.jpg", :class => "img-circle" %>
			<h5>Caio Teixeira</h5>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/rodrigo.jpg", :class => "img-circle" %>
			<h5>Rodrigo Guerra</h5>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="#" class="thumbnail">
			<%= image_tag "founders/sergio.jpg", :class => "img-circle" %>
			<h5>Sergio Tutumi</h5>
		</a>
	</div>
</div>


<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>-->