<% if logged_in? %>
  <%= render 'home_user'%>
<% else %>
<div class="center jumbotron">
  <h1>Já jubilou?</h1>
  <p id="notice"><%= notice %></p>
  <h2>
    Muitos alunos não serão capazes de finalizar o curso dentro do tempo máximo para sua conclusão, seja pela cadeia de requisitos que ainda precisam ser cursados ou pela quantidade de créditos pendentes.
	<br/><br/>
	Visando auxiliar o estudante a acompanhar sua real situação acadêmica, este software permitirá que ele saiba se irá jubilar ou se ainda é possível se formar.
  </h2>

  
  <%= link_to "Entre na sua Conta", { controller: "sessions", action: "new" }, class: "btn btn-lg btn-primary" %>
  <%= link_to "Crie sua conta agora!", { controller: "users", action: "new" }, class: "btn btn-lg btn-primary" %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>-->
          
<% end %>