<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
  <div class="alert alert-danger" role="alert">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </div>
  <% end %>

  <div class = "col-md-5 col-centered">
    <div class="form-group">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :type => "email", :class => "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :nusp, "Número USP" %>
      <%= f.text_field :nusp, :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :courses_id, "Curso" %>
      <%= f.collection_select :courses_id, Course.order(:nome), :id, :nome, include_blank: true, :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :startYear, "Ano de Ingresso" %>
      <%= f.text_field :startYear, :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :password_confirmation, "Repita a senha" %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
  
    <div class="actions center">
      <%= f.submit :class => 'btn btn-primary', :value => "Criar usuário" %>
    </div>
  </div>
<% end %>
