<!DOCTYPE html>
<html>
  <head>
    <title>Já jubilou?</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
    <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="waning"><%= alert %></div>
    <% end %>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>